{% extends "layout.html.twig" %}
{% block title %}Daftar Dokter{% endblock %}
{% block stylesheet1 %}css/bijou.min.css{% endblock %}
{% block stylesheet2 %}css/font-awesome.min.css{% endblock %}
{% block indexlink %}index.php{% endblock %}
{% block pullright %}
<li><i class="fa fa-medkit"></i> <a href="dokter/baru">Tambah Dokter</a></li>
{% endblock %}
{% block content %}
{% spaceless %}
    <div class='container'>
    <div class='row'>
    <div class='span one'></div>
    <div class='span nine'>
      <table class='table table-striped'>
        <thead>
          <tr>
            <th>Nama Dokter</th>
            <th>Tempat Praktik</th>
            <th>Nomor Telepon</th>
          </tr>
        </thead>
        {% for dokter in data %}<tbody>
          <td><a href="dokter/{{ dokter.iddokter|e }}">{{ dokter.nama|e }}</a></td>
          <td>{{ dokter.lokasi|e }}</td>
          <td>{{ dokter.telepon|e }}</td>
        </tbody>{% endfor %}
      </table>
      </div>
      <div class='span one'></div>
      </div>
      {% endspaceless %}
{% endblock %}