{% extends "layout.html.twig" %}
{% block title %}Kunjungan Baru{% endblock %}
{% block stylesheet1 %}../../css/bijou.min.css{% endblock %}
{% block stylesheet2 %}../../css/font-awesome.min.css{% endblock %}
{% block stylesheet3 %}<link rel="stylesheet" type="text/css" href="../../css/jquery-ui.min.css"/>{% endblock %}
{% block stylesheet4 %}
<style type="text/css">
.ui-widget { font-family: Lucida Grande, Lucida Sans, Arial, sans-serif; font-size: 0.9em; }
</style>{% endblock %}
{% block javascript1 %}<script src="../../js/nicEdit.js" type="text/javascript"></script>{% endblock %}
{% block indexlink %}../../index.php{% endblock %}
{% block content %}

<div class='container'>
<h3>Form Kunjungan</h3>
<div class='divider'></div>

<form action="enter" method="post">
<input type="hidden" name="idpas" value="{{ idpas }}" />
<div class='row'>
<div class='span two'>
<fieldset>
<legend>Data Kunjungan</legend>
<label for="tanggal"><small><b>Tanggal Kunjungan</b></small></label><br>
<input type="text" id="datepicker" name="tanggal" /><br>
<label for="tipe"><small><b>Tipe Kunjungan</b></small></label><br>
<select name="tipe">
	<option name="tipe">Resep</option>
	<option name="tipe">UPDS</option>
</select><br>
<label for="dokter"><small><b>Dokter</b></small></label><br>
<select name="dokter">
	{% for dokt in dok %}
	<option name="dokter">{{ dokt.nama }}</option>
	{% endfor %}
</select>
</fieldset>
</div>

<div class='span four'>
<fieldset>
<legend>Obat</legend>
<label for="obat"><small><b>Resep</b></small></label><br>
<textarea style="height: 100px;" cols="53%" id="area4" name="obat" />R/</textarea>
<label for="keterangan_resep"><small><b>Keterangan Resep</b></small></label><br>
<input type="text" name="keterangan_resep" value="diambil semua"/>
</fieldset>
</div>

<div class='span five'>
<fieldset>
<legend>Form F1</legend>
<label for="info_dokter"><small><b>Info Dokter</b></small></label><br>
<textarea style="height: 100px;" cols="53%" name="info_dokter" />. . .</textarea><br>
<label for="khasiat_obat"><small><b>Kegunaan Obat</b></small></label><br>
<textarea style="height: 100px;" cols="53%" name="khasiat_obat" />. . .</textarea><br>
<label for="penyimpanan_obat"><small><b>Penyimpanan Obat</b></small></label><br>
<input type="text" name="penyimpanan_obat" value="Suhu kamar"/><br>
<label for="interaksi_obat"><small><b>Drug Related Problem</b></small></label><br>
<textarea style="height: 100px;" cols="53%" name="interaksi_obat" />. . .</textarea><br>
</fieldset>
</div>
<input type="submit" class="button primary small" value="Enter" />
</div>
</form>

</div>
<script src="../../js/vendor/jquery.js"></script>
<script src="../../js/jquery-ui.min.js"></script>
<script type="text/javascript">
bkLib.onDomLoaded(function() {
	new nicEditor({iconsPath : '../../js/nicEditorIcons.gif'}, {buttonList : ['fontSize','bold','italic','underline','html','image']}).panelInstance('area4');
});

</script>
<script type="text/javascript">
$(function() {
    $( "#datepicker" ).datepicker({
  monthNames: [ "Januari", "Februari", "Maret", "April", "Mei", "Juni", "Juli", "Agustus", "September", "Oktober", "November", "Desember" ],
  dayNamesMin: [ "Min", "Sen", "Sel", "Rab", "Kam", "Jum", "Sab" ],
  dateFormat: "dd MM yy"
});
    });
</script>
{% endblock %}